/* Header Styles*/
h1 {
    color: rgb(223, 223, 223);
}

/*List Styles*/
ul {
list-style-type: none;

}

li {
    display: inline-block;
margin-right: 50px;
margin-left: 20px;
font-size: 45px;
}

/* nav styles */
nav {
    align-content: center;
    align-items: center;
}

body{

}
/*Anchors & Links*/

