/* Header Styles*/
h1 {
    color: rebeccapurple;
    text-align: center;

}

p {
    color: black;
}

/*List Styles*/
ul {
list-style-type: none;

}

li {
    display: inline-block;
margin-right: 50px;
margin-left: 20px;
font-size: 45px;
}

/* nav styles */
nav {
    align-content: center;
    align-items: center;
    text-align: center;
}

header
{
    align-content: center;
}
/*Anchors & Links*/

