@font-face {
    font-family: 'andale';
    src: 
      url(fonts/andale_mono-webfont.woff2) format('woff2'), 
      url(fonts/andale_mono-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  
  body {
    font-family: 'andale', monospace;
    margin-top: 75px;
  }
  
  .fancy-img {
    width: 500px;
    height: auto;
    filter: drop-shadow(4px 4px 5px grey);
    box-shadow: 4px 4px 5px grey;
  }
  
  .image-holder {
    background-image: url('http://www.haywards.co.uk/uploads/1/3/4/1/13415452/published/23755107-1005798239571368-7157262375597668372-n.jpg');
    height: 1000px;
    background-repeat: no-repeat;
    background-color: aquamarine;
    background-position: center;
    background-size: cover;
  }
  ul{
    list-style-type:none;
        margin: 0px;
    
    
    }
    
    li {
        display:inline-block
    }
    
    nav {
        background-color: red;
        width: 100%;
        position: fixed;
        padding: 20px;
        top: 0px;
        align-content: center;
        align-items: center;
        text-align: center;
    }

    header
{
    align-content: center;
}

.blogpost {
    float: left;
    width: 25%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
@media screen and (max-width: 600px) {
    .blogpost {
        width: 100%;
    }
}